{#
    Debug - Generate Switch - visible from HA
-#}
switch:
{%- for c in circuits %}
  - platform: gpio
    id: relay{{ c.number }}
    name: {{ friendly_name }} Relais {{ c.number }}
    pin:
      number: {{ c.gpio_pin }}
      inverted: True
      mode:
        output: True
        pulldown: True
    on_value:
      then:
        - binary_sensor.template.publish:
          id: relay_state_{{ c.number }}
          state: id(relay{{ c.number }}).state
{% endfor %}

{#
    Debug - Dummy Output in HA
-#}
binary_sensor:
{%- for c in circuits %}
  - platform: template
    name: {{ friendly_name }} PID Relais {{ c.number }}
    id: relay_state_{{ c.number }}
{% endfor %}
