{#
    Debug - Generate Switch - visible from HA
-#}
{%- for a in areas %}
sensor:
{% for ha in a.ha_sensors %}
  - platform: homeassistant
    id: ha_temp_bad_oben
    name: "Temperatur Bad oben"
    entity_id: {{ ha.entity_id }}
    filters:
      - sliding_window_moving_average:
          window_size: 15
          send_every: 15
{% endfor %}
switch:
{%- for c in a.circuits %}
  - platform: gpio
    id: relay{{ c.number }}
    name: {{ friendly_name }} Relais {{ c.number }}
    pin:
      number: {{ c.gpio_pin }}
      inverted: True
      mode:
        output: True
        pulldown: True
    on_turn_on:
      then:
       - binary_sensor.template.publish:
          id: relay_state_{{ c.number }}
          state: true
    on_turn_off:
      then:
       - binary_sensor.template.publish:
          id: relay_state_{{ c.number }}
          state: false
{% endfor %}
{% endfor %}


